<section class="phx-hero">
  <h1>Welcome to Phoenix!</h1>
  <p>Peace of mind from prototype to production</p>

  <%= render ConsentWeb.LayoutView, "_user_menu.html", current_user: @current_user, conn: @conn %>
</section>

