<ConsentComponent.consent_details_modal
  form_action={@form_action}
  header={@header}
  terms={@terms}
  groups_with_index={@groups_with_index}
  return_to={@return_to} />

<button x-data="{}" id="manage-cookies-button" type="button"
  @click={"$dispatch('#{@show_event}')"}
  class="px-6 py-2 text-center text-white bg-blue-500 rounded cursor-pointer hover:bg-blue-600 focus:outline-none">
  Cookies: Learn More
</button>
