<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <.gtag_js cookie_groups={@cookie_groups} measurement_id="G-7Z16QXERE9" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Consent", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col h-full pt-24">
    <header>
      <nav class="fixed top-0 left-0 right-0 z-30 bg-white shadow">
        <div class="container px-6 py-3 mx-auto md:flex md:justify-between md:items-center">
          <div class="flex items-center justify-between">
            <div>
              <a class="inline-block" href="/">
                <img src={Routes.static_path(@conn, "/images/phoenix.png")} class="object-contain h-8" />
              </a>
            </div>
          </div>

          <div class="flex items-center">
            <div class="flex flex-col md:flex-row md:mx-6">
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= @inner_content %>

    <footer class="py-3 mt-auto bg-gray-700">
      <div class="container max-w-4xl pb-4 mx-auto text-sm text-center text-gray-300">
        &copy; <%= DateTime.utc_now.year %> Cookie Cutters
      </div>
    </footer>
  </body>
</html>
